<!DOCTYPE html>
<html lang = "en">
    <style></style>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width=device-width,initial-scale =1.0">
        <title>conversion</title>
        <link href = "/Static/loader_sheet.css"rel = "stylesheet" />
    </head>

    <body style="background-color: #5f849d;text-align: center;">
        <h1 style = "text-align: center;font-size: 30px;">Form Complete!</h1>
        <p style = "text-align: center";>Thank you for participating</p>
    </body>
</html>